@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

.container2 {
  display: flex;
  background-color: #6f6f6f;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.container2 h4 {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 30px;
  color: white;
}

.container2 p {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

img {
  background-size: cover;
  border-radius: 25%;
  width: 250px;
  height: 250px;
}

a {
  color: black;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 15px 15px 15px 15px;
}

a:hover {
  cursor: pointer;
  transform: scale(1.03);
}
