@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
/* Import the font */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.navbar-brand img {
  border-radius: 50%;
}

.nav-item .nav-link {
  font-size: 1.2rem;
  line-height: 1.8;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 990px) {
  #navbar {
    height: auto;
  }
  .nav-item .nav-link {
    font-size: 1rem;
  }
  #navbarNav {
    background-color: white;
    border: 1px solid #000;
  }
  #nav-link {
    width: 500px;
    margin: auto;
  }
  #nav-link:hover {
    background-color: aqua;
  }
  #btn3 {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box1 {
  padding: 50px;
  background-image: url(/imag/Website-Design.webp);
  background-color: #56aaf3;
  border: 1px solid #000;
  padding-top: 50px;
  border-radius: 25px;
}

.box1 h2 {
  font-size: 50pt;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  line-height: 3;
}

p {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 15pt;
  text-align: center;
  line-height: 1.35;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .box1 {
    padding-top: 30px;
    height: auto;
  }
  .box1 h2 {
    font-size: 30pt;
    line-height: 1.3;
    margin-top: 90pt;
  }
  p {
    font-size: 12pt;
  }
}
.container {
  background-color: white;
  width: 1000px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery {
  margin: 0 10px;
}

@media screen and (max-width: 500px) {
  .gallery {
    width: 20%;
  }
}
.container4 {
  background-image: url(../imag/code.jpeg);
  border-radius: 25px;
  height: 100%;
  padding-bottom: 30px;
}

.img {
  width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  border-radius: 50%;
}

.container4 h3 {
  margin: 10px;
  padding: 10px;
  font-size: 30pt;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  line-height: 2;
  font-size: large;
}

.container4 p {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  font-size: large;
}

.container4 a {
  font: normal bold 20px/30px Heebo;
  letter-spacing: 0.3px;
  color: #3a3a3a;
  border: 1px solid #000;
  background: #56aaf3;
  border-radius: 25px;
  display: block;
  margin: 9px auto;
  padding: 10px;
  width: 20%;
  text-align: center;
}

/* Media Queries */
@media (max-width: 600px) {
  .container4 {
    width: 100%;
    height: auto;
  }
  .container4 h3 {
    font-size: 24pt;
  }
}
@media (max-width: 2300px) {
  .container4 {
    width: 100%;
    height: auto;
  }
  .container4 h3 {
    font-size: 24pt;
  }
}
.container1 {
  background-image: url(/imag/images-apase.jpeg);
  width: 100%;
  display: flex;
  background-color: #ccc;
  justify-content: center;
  flex-wrap: wrap;
}

.container1 h4 {
  color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 30px;
}

.container1 p {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255);
}

.card {
  background: white;
  width: 18rem;
  margin: 15px;
  border-radius: 15px;
}

.card-img {
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card h5 {
  padding: 10px;
  text-align: center;
}

.card p {
  padding: 10px;
  text-align: center;
}

.card a {
  background-color: lightskyblue;
  color: black;
  padding: 1px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 15px 15px 15px 15px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.rect {
  width: auto;
  height: auto;
  background: 0% 0% no-repeat padding-box;
}

.box3 {
  background-image: url(../imag/login2.jpg);
  width: auto;
  height: auto;
  border-radius: 25px;
  position: relative;
  display: flex;
  padding-bottom: 80px;
  padding: 30px;
}

.box3 h6 {
  padding: 10px;
  text-align: center;
  font: normal normal 900 36px/53px JosefinSans;
  letter-spacing: 0px;
  line-height: 2;
}

.box3 p {
  padding: 10px;
  text-align: center;
  font: normal normal normal 20px/29px JosefinSans;
  letter-spacing: 0px;
}

.box3 form {
  height: auto;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin: auto !important;
  padding-right: 90px;
  background: 0% 0% no-repeat padding-box;
}

label {
  height: 40px;
  border-radius: 4px;
  margin: 10px 0 10px 0;
}

input {
  width: 100%;
  padding: 10px 30px;
  outline: none;
  font-weight: 400;
  border: 1px solid #000;
  font-size: 16px;
  background: transparent;
  border-radius: 30px;
  color: #607d8b;
  background-color: #fff;
  text-align: left;
}

textarea {
  width: 400px;
  height: 180px;
  resize: none;
}

#message {
  padding-top: 25px;
}

@media screen and (max-width: 400px) {
  .box3 {
    flex-direction: column;
    align-items: center;
  }
  .box3 form {
    margin-left: 0;
    padding-right: 20px;
  }
  textarea {
    width: 100%;
  }
  .rect {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 2400px) {
  .box3 {
    flex-direction: column;
    align-items: center;
  }
  .box3 form {
    margin-left: 0;
    padding-right: 20px;
  }
  textarea {
    width: 100%;
  }
  .rect {
    width: 100%;
    height: auto;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  width: auto;
  height: 200px;
  background: #1ae0ec;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.icon a {
  background-color: #1ae0ec;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-decoration: none;
  margin: 10px;
}

.icon a img {
  margin-bottom: 10px;
}

.iconname {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  color: #1ae0ec;
  padding: 10px;
}

.footer1 {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .icon {
    flex-direction: row;
  }
  .icon a {
    width: 50px;
    height: 80px;
    margin: 5px;
  }
  .icon a img {
    margin-bottom: 5px;
  }
}
.container2 {
  background-image: url(/imag/images-apase.jpeg);
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #6f6f6f;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.container2 h4 {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 30px;
  color: white;
}

.container2 p {
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

#gameCard img {
  background-size: cover;
  border-radius: 25%;
  width: 250px;
  height: 250px;
}

a {
  color: black;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 15px 15px 15px 15px;
}

a:hover {
  cursor: pointer;
  transform: scale(1.03);
}/*# sourceMappingURL=main.css.map */